$white: #ffffff;
$gray-lighter: #f7f7f7;
$gray-light: #dfdfdf;
$gray: #bfbfbf;
$gray-dark: #7e7e7e;
$gray-darker: #4a4a4a;
$gray-darkest: #333333;
$blue-dark: #0a608b;
$blue: #0284c6;
$blue-light: #3e8bdc;
